[Unit]
Description=Publish GNSS Data to MQTT
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/box/ThreadSimulations/scripts/publish_data.py
Restart=always
User=box
Group=box

[Install]
WantedBy=multi-user.target
