[Unit]
Description=Subscribe to GNSS Data from MQTT
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/box/ThreadSimulations/scripts/subscribe_data.py
Restart=always
User=box
Group=box

[Install]
WantedBy=multi-user.target
